*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
	background-color: black;
}

.form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.form h1{
	display: flex;
	justify-content: center;
	font-weight: normal;
	color: orange;
	font-size: 40px;
}
.form h3{
	display: flex;
	justify-content: left;
	font-weight: normal;
	color: orange;
	font-size: 20px;
}

.volta {
	position: fixed;
	top: 0;
	right: 0;
	padding: 18px;
	cursor: pointer;
	width: 100px;
}

.container{
	margin-top: 15px; 
	display: flex;
	flex-direction: column;
    width: 100%;
    align-items: center;
	justify-content: center;
} 

.container span{
    margin-bottom: -10px;
    margin-top: 25px;
}

.container span,.form p{
	display: inline-block;
	width: 100%;
	color: orange;
	font-size: 17px;
	font-weight: bold;
	max-width: 430px;
}

.form p{
	margin: 20px 0;
}

.container input {
	padding: 5px;
	font-size: 25px;
	margin-top: 15px;
	width: 100%;
	max-width: 430px;
	height: 50px;
	border: 4px groove orange;
	border-radius: 10px;
	outline: none;
}

input[type=button]{
	cursor: pointer;
	border: none;
	margin: 30px;
	color: black;
	font-size: 25px;
	width: 150px;
	height: 56px;
	border-radius:2px ;
}

.mudar{
	background-color: orange;
	text-decoration: none;
	cursor: pointer;
	border: none;
	margin: 30px;
	color: black;
	font-size: 25px;
	width: 150px;
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	padding: 12px;
}

.confirmar{
	background-color: rgb(2, 255, 2);
}

.mudar:hover{
	background-color: #ffb62e;
}
.confirmar[type=button]:hover{
	background-color: green;
}

.butaum{
	display: flex;
	justify-content: center;
	align-items: center;
}

