* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
  background-color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
}

.form h1 {
  text-align: center;
  font-weight: normal;
  color: orange;
  font-size: 40px;
}

.form h3 {
  text-align: center;
  font-weight: normal;
  color: orange;
  font-size: 20px;
}

span,
.form p {
  margin-top: 15px;
  max-width: 430px;
  display: block;
  width: 100%;
  color: orange;
  font-size: 17px;
  font-weight: bold;
}

.form p {
  margin: 20px 0;
}

input {
  padding: 5px;
  font-size: 25px;
  margin-top: 15px;
  width: 100%;
  max-width: 430px;
  height: 50px;
  border: 4px groove orange;
  background-color: white;
  border-radius: 10px;
  outline: none;
}

.form input[type=button] {
  cursor: pointer;
  border: none;
  margin: 30px;
  color: black;
  font-size: 25px;
  width: 100%;
  max-width: 350px;
  height: 56px;
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
}

.form input[type=button]:hover {
  background-color: #ffb62e;
}

.form img {
  margin-top: 15px;
  cursor: pointer;
}

.vagas {
  width: 100%;
  max-width: 430px;
}

.branco {
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

.footer {
  margin-top: -10px;
  color: orange;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.footer a {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}