*{
	margin: 0;
	background-color: black;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

.center{
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
    
}

.center input[type=text]{
    margin-top: 10px;
	width: 90%;
	height: 33px;
	border: 2px groove orange;
	background-color: #e3e3e3;
	outline: none;
	font-size: 25px;
}

.frente img{
    width: 80%;
	border-radius: 10%;
}

.frente{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
	margin-top: 2px;
	display: flex;
	justify-content: center;
	font-weight: normal;
	color: orange;
	font-size: 40px;
}

.text{
    color: orange;
}

.cartao{
	display: flex;
	justify-content: center;
}

.CVV input[type=text]{
    width: 40px;
}
.alinhamento{
    width: 400px;
}



